<%- include('../includes/header')-%>
<section class="container margin-top top">
  <form action="/auth/change-password" method="post" class="form">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <input type="hidden" name="token" value="<%=resetToken%>" />
    <input type="hidden" name="userId" value="<%=userId%>" />
    <div class="flex-center width-full padding-md">
      <div class="flex-1">
        <h1>Change New Password</h1>
        <% if(errorMsg){%>
        <p class="bg-red width-full"><%=errorMsg%></p>
        <%}%>
        <div class="">
          <label for="email">Password</label
          ><input
            class="width-80"
            type="password"
            name="password"
            id="password"
            required
          />
        </div>
        <div class="">
          <label for="password">Confirm Password</label
          ><input
            class="width-80"
            type="password"
            name="confirm_password"
            id="confirm_password"
            required
          />
        </div>
        <button class="btn">Change</button>
      </div>
    </div>
  </form>
</section>
<%- include('../includes/footer')-%>
