<%- include('includes/header')-%>
<section class="container margin-top top">
  <div class="register">
    <h1>Edit Blog</h1>
    <form action="/admin/edit" method="post" class="inner-form">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" hidden />
      <input type="hidden" name="id" value="<%=blog._id%>" hidden />
      <div class="flex-center">
        <div class="w-full">
          <label for="title">Title</label
          ><input
            class="w-full"
            type="text"
            name="title"
            id="title"
            value="<%=blog.title%>"
            required
          />
        </div>
        <div class="w-full">
          <label for="imgUrl">Image</label
          ><input
            class="w-full"
            type="text"
            name="imgUrl"
            id="imgUrl"
            value="<%=blog.imgUrl%>"
            required
          />
        </div>
        <div class="w-full">
          <label for="description">Description</label
          ><textarea name="description" id="description" cols="50" rows="5">
            <%=blog.description%></textarea
          >
        </div>
      </div>
      <div class="w-full flex-between">
        <button class="btn">Done</button>
        <a href="/" class="btn">Go Home</a>
      </div>
    </form>
  </div>
</section>
<%- include('includes/footer')-%>
